{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Products</h1>

{% for product in products %}
    <twig:ProductComponent
        name="{{ product.name }}"
        price="{{ product.price }}"
        category="{{ product.category }}"
        description="{{ product.description }}"
    />
{% endfor %}

{% endblock %}
