{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Products</h1>

{% for product in products %}
    {{ product }} ({{ product }})<br>
{% endfor %}

{% endblock %}
