{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="products">
    {% for product in products %}
    <div class="product-container">
        <twig:ProductComponent
            name="{{ product.name }}"
            price="{{ product.price }}"
            category="{{ product.category }}"
            description="{{ product.description }}"
        />
    </div>
    {% endfor %}
</div>

{% endblock %}
